<h1 class="top-title"><span>修学旅行予定一覧</span></h1>
  <% @schedules.each do |schedule| %>
  <div class="body">
    <div id="tripnote-18457" class="col-md-12 col-sm-12 col-xs-12 tripnoteBoxWrapper">
      <div class="tripnoteBoxInfoWrapper col-md-9 col-sm-8 col-xs-8">
        <div class="tripnoteMainInfo">
          <div class="tripnoteInfo">
            <h3 class="titleWrapper">
              <%= link_to schedule.address, '#', method: :get %>
            </h3>
          </div>
          <div class="tripnote-main">
            <div class="tripnote-desc">
              <p><%= schedule.bookmark%></p>
              <div class="detail-overflow"></div>
            </div>
            <%= image_tag schedule.image.url, :size =>'275x180' %>
          </div>
        </div>
      </div>
    </div>
    <div class="bottominformation">
      <div class="name">
        nickname:<%= schedule.user.nickname %>
      </div>
      <div class="lodging">
        宿泊:<%= schedule.lodging%>
      </div>
        <% if current_user.already_favorited?(schedule) %>
          <%= link_to schedule_favorites_path(schedule), method: :delete do %>
            <div class="icon">
              <i class="fas fa-heart"></i>
            </div>
          <% end %>
        <% else %>
          <%= link_to schedule_favorites_path(schedule), method: :post do %>
            <div class="icon">
              <i class="fas fa-heart"></i>
            </div>
          <% end %>
        <% end %>
        <%= schedule.favorites.count %>
      </div>
    </div>
  </div>
  <% end %>
</div>

